* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}

.App {
  text-align: center;
  /* background-color: rgb(56, 56, 56); */
  background: url(../assets/images/background.png) repeat;
    background-position: center;
    /* background: linear-gradient(to right, rgb(22, 22, 22), rgb(78, 78, 78), rgb(22, 22, 22)); */
    min-height: 100vh;
    padding-top: 20px;
    display: flex;
    }

  .navbar-container {
    /* border-bottom: 2px solid rgb(139, 139, 139); rgb(56, 56, 56); */
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    /* background: transparent; */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Add prefix for Safari and Safari on iOS */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 5;
    padding: 12px;
  }

  #main-logo {
    margin-top: 13rem;
    margin-left: -1rem;
  }

  nav {
    width: 100%;
   
  }

  nav img {
    box-shadow: 1px 1px 1px 1px skyblue;
  }

  .links {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 70%;
    align-self: flex-end;
  }

  .links a {
    text-decoration: none;
    color: white;
    font-size: 1.8rem;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    text-shadow: skyblue 1px 1px 1px;
    
  }

  .links a:hover {
    color: skyblue;
    text-shadow: white 1px 1px 1px;
  }




  .dropdown-item a {
    color: white;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    text-shadow: skyblue 1px 1px 1px;
  }

  .dropdown-item a:hover {
    color: skyblue;
    text-shadow: white 1px 1px 1px;
  }

  .dropdown-menu {
    margin-top: 180px;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(10px); /* Add prefix for Safari and Safari on iOS */
    backdrop-filter: blur(10px);
  }

  .header {
    font-size: 10rem;
    font-weight: 800;
    font-family: Miss Saint Delafield;
    text-shadow: 2px 2px 2px skyblue;
    margin-top: 100px;
  }



  .hero-container {
  background: url(../assets/images/golf.png) repeat center center;
  background-size: cover;
  border: 2px solid skyblue;
  box-shadow: 2px 2px 2px 2px black;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  width: 100vw;
  
}

/* create image animation on page load */
.hero-container  {
  animation: hero-image 2s ease-in-out;
  animation-fill-mode: forwards;
  
}

@keyframes hero-image {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}




.hero-text h1 {
  font-family: Miss Saint Delafield;
  font-size: 10rem;
  text-shadow: 2px 2px 2px black;
  
}

.hero-text h2 {
  font-size: 3rem;
  text-shadow: 2px 2px 2px black;
  
}


.about-photo {
  display: flex;
  border: 2px solid skyblue;
  box-shadow: 2px 2px 2px 2px skyblue;
  /* width: 100%;
  height: 100%; */
  object-fit: cover;
  align-items: center;
  justify-content: center;
  object-position: center;
  transition: all 0.3s ease-in-out;
  -webkit-backdrop-filter: blur(10px); 
  backdrop-filter: blur(10px);
  padding-bottom: 28px;
  padding-top: 28px; 
  
}

.about-content-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* margin-top: 10vh;
  margin-bottom: 10vh; */
  padding: 20px;
  padding-left: 10rem;
  padding-right: 10rem;
  box-shadow: 2px 2px 2px 2px skyblue;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.about-sub-headers {
  font-size: 2rem;
  text-shadow: 2px 2px 2px black;
  text-decoration: underline;
  padding-bottom: 3rem;
}


.projects-content-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10vh;
  margin-bottom: 10vh;
  padding: 20px;
  box-shadow: 2px 2px 2px 2px skyblue;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.projects-picture-section {
  padding: 0;
  border: 1px solid skyblue;
}

.resume-container {
  align-self: center;
  
}

.resume-image {
  border: 2px solid skyblue;
  width: 80vw;
  padding-bottom: 200px;
  /* box-shadow: 2px 2px 2px 2px black; */
}

.contact-content-section-text {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-grow: 1;
  flex-shrink: 3;
  border: 2px solid skyblue;
}

.contact-link {
  text-decoration: none;
  color: white;
  padding-bottom: 0;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  text-shadow: skyblue 1px 1px 1px;
}

.contact-link:hover {
  color: skyblue;
  text-shadow: white 1px 1px 1px;
}

.contact-list-item {
  padding: 3rem;
  flex-shrink: 3;
}



.headshot-image{
  
  border: 2px solid skyblue;
  /* box-shadow: 2px 2px 2px 2px skyblue;
 */
}

.footer-container {
  background-color: rgb(0, 0, 0, 0.2);
  
  height: 5vh;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  
}

.footer-container ul {
  display: flex;
  
  
}

.footer-container ul li {
  font-size: 2rem;
  list-style: none;
  margin: 0 1rem;
  text-shadow: 1px 1px 1px skyblue;
}

.footer-container ul li:hover {
  color: skyblue;
  text-shadow: 1px 1px 1px white;
}

@media screen and (max-width: 1024px) {
  #main-logo {
    width: 9rem;
    height: 8rem;
    margin-top: 7rem;
    margin-left: -1rem;  
  }
  nav Link img {
    width: 40px
  }
  .links {
    display: none;
  }
  .hero-container {
    height: 50vh;
  }
  .hero-text h1 {
    font-size: 4rem;
  }
  .hero-text h2 {
    font-size: 1.5rem;
  }
  .about-content-section {
    margin: 5px;
    padding: 5px;
  }
  .projects-content-section {
    
    margin: 5px;
    padding: 5px;
  }
  .resume-image {
    width: 90vw;
  }
  .headshot-image {
    width: 100%;
  }
  .contact-content {
    display: grid;
    grid-template-columns: 1fr;
  }
  .contact-list-item {
    padding: 1rem;
    font-size: smaller;
  }
  .footer-container ul li {
    font-size: 1.4rem;
  }
}
