* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}

.App {
  text-align: center;
  background-color: rgb(56, 56, 56);
  height: 100vh;

}


.hero-container {
  background: url(./assets/images/golf.png) no-repeat center center;
  background-size: cover;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20vh;
}

