* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}

.App {
  text-align: center;
  background-color: rgb(56, 56, 56);
  background: linear-gradient(to right, rgb(34, 34, 34), rgb(139, 139, 139), rgb(34, 34, 34));
  min-height: 100vh;
  padding-bottom: 30px;

}

nav {
  border-bottom: 2px solid rgb(139, 139, 139); /* rgb(56, 56, 56);*/
  
}


.hero-container {
  background: url(./assets/images/golf.png) no-repeat center center;
  background-size: cover;
  border: 2px solid black;
  box-shadow: 2px 2px 2px 2px black;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20vh;
  
}



.hero-text h1 {
  font-family: Miss Saint Delafield;
  font-size: 6rem;
  text-shadow: 2px 2px 2px black;
  
}

.hero-text h2 {
  font-size: 2rem;
  text-shadow: 2px 2px 2px black;
  
}

.about-content-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10vh;
  margin-bottom: 10vh;
  padding: 20px;
  box-shadow: 2px 2px 2px 2px black;
}

.projects-content-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10vh;
  margin-bottom: 10vh;
  padding: 20px;
  box-shadow: 2px 2px 2px 2px black;
}

.resume-image {
  border: 2px solid rgb(139, 139, 139);
  box-shadow: 2px 2px 2px 2px black;
}

.headshot-image{
  border: 2px solid rgb(139, 139, 139);
  box-shadow: 2px 2px 2px 2px black;
}

.footer-container {
  background-color: black;
  height: 5vh;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  border-top: 3px solid rgb(139, 139, 139);
  
}

.footer-container ul {
  display: flex;
  
  
}

.footer-container ul li {
  font-size: 1.5rem;
  list-style: none;
  margin: 0 1rem;
}