* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}

.App {
  text-align: center;
  background-color: rgb(56, 56, 56);
  background: linear-gradient(to right, rgb(22, 22, 22), rgb(78, 78, 78), rgb(22, 22, 22));
  min-height: 100vh;
  padding-top: 20px;
  display: flex;

   

}

.navbar-container {
  /* border-bottom: 2px solid rgb(139, 139, 139); rgb(56, 56, 56); */
  position: fixed;
  top: 0;
  background: transparent;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

nav {
  width: 100%;
 
}

.links {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 70%;
  align-self: flex-end;
}

.links Link {
  margin: 0 10px;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}


.header {
  font-size: 3rem;
  text-shadow: 2px 2px 2px black;
}


.hero-container {
  background: url(./assets/images/golf.png) no-repeat center center;
  background-size: cover;
  border: 2px solid black;
  box-shadow: 2px 2px 2px 2px black;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  width: 100vw;
  
}



.hero-text h1 {
  font-family: Miss Saint Delafield;
  font-size: 6rem;
  text-shadow: 2px 2px 2px black;
  
}

.hero-text h2 {
  font-size: 2rem;
  text-shadow: 2px 2px 2px black;
  
}

.about-content-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10vh;
  margin-bottom: 10vh;
  padding: 20px;
  box-shadow: 2px 2px 2px 2px black;
}

.about-sub-headers {
  font-size: 2rem;
  text-shadow: 2px 2px 2px black;
  text-decoration: underline;
  padding-bottom: 10px;
}

.projects-content-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10vh;
  margin-bottom: 10vh;
  padding: 20px;
  box-shadow: 2px 2px 2px 2px black;
}

.resume-container {
  align-self: center;
  
}

.resume-image {
  border: 2px solid rgb(139, 139, 139);
  box-shadow: 2px 2px 2px 2px black;
}

.headshot-image{
  
  border: 2px solid rgb(139, 139, 139);
  box-shadow: 2px 2px 2px 2px black;
}

.footer-container {
  background-color: black;
  height: 5vh;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  border-top: 3px solid rgb(139, 139, 139);
  
}

.footer-container ul {
  display: flex;
  
  
}

.footer-container ul li {
  font-size: 1.5rem;
  list-style: none;
  margin: 0 1rem;
}

@media screen and (max-width: 768px) {
  nav Link img {
    width: 40px
  }
  .links {
    display: none;
  }
  .hero-container {
    height: 30vh;
  }
  .hero-text h1 {
    font-size: 4rem;
  }
  .hero-text h2 {
    font-size: 1.5rem;
  }
  .about-content-section {
    margin: 5px;
    padding: 5px;
  }
  .projects-content-section {
    
    margin: 5px;
    padding: 5px;
  }
  .resume-image {
    width: 90vw;
  }
  .headshot-image {
    width: 100%;
  }
  .contact-content {
    display: grid;
    grid-template-columns: 1fr;
  }
}
